@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');
                            
$bg_color: #E8E9E8;
$txt_inlight: #171716;
$txt_indark: #E8E9E8;
$dark_accent: #575558;
$light_accent: #CBCBCC;
                            
$ff_oxanium: 'Oxanium', cursive;
$ff_poppins: 'Poppins', sans-serif;
$ff_work_sans: 'Work Sans', sans-serif;
$ff_Bai_Jamjuree: 'Bai Jamjuree', sans-serif;
$ff_Cairo: 'Cairo', sans-serif;
                            
$fs1:  4.2rem;
$fs2:  4.0rem;
$fs3:  3.8rem;
$fs4:  3.6rem;
$fs5:  2.4rem;
$fs6:  2.0rem;
$fs7:  1.7rem;
$fs8:  1.6rem;
$fs9:  1.5rem;
$fs10: 1.4rem;
$fs11: 1.2rem;
$fs12: 1.0rem;
                            
$fw_regular: 400;
$fw_semiBold: 600;
$fw_bold: 700;
                            
$section_spacing: 60px;
                            
$transition125ms: all 125ms ease-in-out;
$transition250ms: all 250ms ease-in-out;
$transition500ms: all 500ms ease-in-out;
$transition750ms: all 750ms ease-in-out;
                            